.root {
  all: unset;
  width: 100%;
}
.calendar {
  width: 300px;
  padding: 22px 28px;

  font-family: inherit;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: var(--bg-color-secondary);
  border-color: var(--bg-color-interactive);
  border-radius: 2px;
}

.inputContainer {
  position: relative;
}

.icon {
  position: absolute;
  top: 8px;
  right: 12px;
  color: var(--color-text-primary);

  &.disabled {
    color: var(--color-text-disabled);
  }
}

.input {
  position: relative;
  max-width: 158px;
  &.error {
    color: var(--color-danger-500);
    border-color: var(--color-danger-500);
  }
  &.range{
    max-width: 262px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}

.buttonBox {
  display: flex;
}

.button {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;

  border-radius: 24px;

  transition: 0.3s background-color;

  &:hover {
    background-color: var(--color-dark-100);
  }
}

:global(.react-datepicker__day-name) {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 0;

  color: var(--color-dark-100);
}

:global(.react-datepicker__header) {
  padding: 0;
  background-color: transparent;
  border-bottom: none;
}

:global(.react-datepicker__month) {
  margin: 0;
}

:global(.react-datepicker__month-container) {
  right: 10px;
  width: 252px;
}

:global(.react-datepicker__day-names) {
  margin-bottom: 12px;
}

/* day styles */
:global(.react-datepicker__day) {
  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
  margin: 0;

  color: var(--color-light-100);

  border-radius: 50%;
  outline: none;

  transition: 0.3s background-color;

  &:hover {
    background-color: var(--color-accent-900);
    border-radius: 50%;
  }

  &:focus-visible {
    background-color: transparent;
    border: 2px solid var(--color-accent-300);
  }
}

:global(.react-datepicker__day--outside-month) {
  color: var(--color-dark-100);
}

:global(.react-datepicker__day--weekend) {
  color: var(--color-light-900);
}

:global(.react-datepicker__day--today) {
  color: var(--color-accent-500);
}

:global(.react-datepicker__day--selected) {
  color: var( --text-color-primary);
  background-color: var(--color-accent-900);
  background-image: radial-gradient(28px circle, var(--color-accent-500) 48%, transparent 51%);
  border-radius: 50%;
}

:global(.react-datepicker__day--keyboard-selected) {
  background-color: transparent;
}

.errorText {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-danger-500);
}

/* date-range day styles */

.day {
  &:global(.react-datepicker__day--in-selecting-range) {
    background-color: var(--color-accent-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--selecting-range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--selecting-range-end) {
    border-radius: 0 50% 50% 0;
  }

  &:global(.react-datepicker__day--in-range) {
    background-color: var(--color-accent-900);
    border-radius: 0;
  }

  &:global(.react-datepicker__day--range-start) {
    border-radius: 50% 0 0 50%;
  }

  &:global(.react-datepicker__day--range-end) {
    color: var(--color-neutral-light-50);
    background-color: var(--color-accent-900);
    background-image: radial-gradient(28px circle, var(--color-accent-500) 48%, transparent 51%);
    border-radius: 0 50% 50% 0;
  }
}
